//
// A word about classes
//   classes common to all cards are coded here
//   classes specific to each individual card are coded in DASHBOARD_CARDS_AU
//

a:link {
    text-decoration: none;
  }
  
  #au-cards {
    margin: 20px;
  }
  
  #au-card {
    min-width: 370px;
    height: 400px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
     transition: transform .2s; /* Animation */
    margin-bottom: 15px;
  }
  
  #au-card:hover {
    transform: scale(1.06);
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    -ms-transform: scale(1.06); /* IE 9 */
  }
  
  .au_card_header {
    float: left;
    text-rendering: optimizeLegibility;
    text-shadow: 0.1em 0.1em 0.15em #2b7bba;
  }
  
  .au-process-header {
    background-color: #205081;
  }
  
  .au-shipped-header {
    background-color: #d04437;
  }
  
  .au-transfer-header {
    background-color:    #2c088e;
  }
  
  .au-locreq-header {
    background-color:    #4d0066;
  }
  
  .au-fav-header {
    background-color: #008000;
  }
  
  .au-footer {
    text-rendering: optimizeLegibility;
    font-size: small;
    max-height: 5em;
    padding: 0;
  }
  
  .au-process-footer {
    background-color: #205081;
  }
  
  .au-shipped-footer {
    background-color: #d04437;
  }
  
  .au-transfer-footer {
    background-color:  #2c088e;
  }
  
  .au-locreq-footer {
    background-color:  #4d0066;
  }
  
  .au-fav-footer {
    background-color: #008000;
  }
  
  .au-button-white {
    border: 1px solid white;
    border-radius: 3px;
    background-color: transparent;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: normal;
    cursor: pointer;
    color: white;
    margin: 5px;
    //  -webkit-transition-duration: 0.4s; /* Safari */
    // transition-duration: 0.4s;
  }
  
  .au-button-white:hover {
    background-color: black;
  }
  
  .au-button-disabled {
    border-style: inset;
    color: #515A5A;
    border-radius: 3px;
    background-color: silver;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 5px;
    padding-top: 0.6px;
    padding-bottom: 0.1px;
  }
  
  table {
    width: 100%;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 0px rgb(236, 231, 231);
    color: black;
  }
  
  th{
    padding: 2px;
  }
  
  td {
    padding: 2px;
    height: 17px;
  }
  
  // tr:nth-child(odd){background-image: linear-gradient(to right,#F8F8F8, 	#d9ccff )};
  tr:nth-child(odd){
    background-color: #e6ffe6;
  };
  
  